* {
    box-sizing: border-box;
} 
body {
    background-color: black;
    color:white;
    padding-top: 1em;
    max-width: 600px;
    margin: 0 auto 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    padding: 0 1em 0 1em;
}
h1 {
    display: block;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.slidecontainer span {
    font-size: 240%;
    width: 32%;
    display:inline-block;
}
span.updating {
    color: #e0dc70;
}
#levelslider {
    width: 66%;
}


div.slider {
    display: grid;
    grid-template-columns: 3fr 6fr 2fr 2fr;
    margin-bottom: 1em;
    align-items: center;
}
.lvlslider {
    grid-column: 1/5;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.7em;
    margin-top: 0.7em;
    margin-bottom: 2em;
    padding: 0 2em 0 2em;
}
button.nav {
    /* margin: 0.7em auto 0.7em auto; */
    width: 100%;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 0.4em;
    /* border-color: white; */
    /* border-width: 0.1em; */
    /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.171); */
    border: solid rgb(99, 99, 99) 1px;
    color: white;
    font-size: 120%;
    font-family: inherit;
    
    background-image: linear-gradient(to right, #281b2a, #432f5f);
}
button.selected {
    
    border: solid rgb(255, 255, 255) 1px;
}
header a{
    display: block;
    width: 100%;
}
button.levelbutton {
    margin: 0.7em auto 0.7em auto;
    width: 80%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    border-radius: 10em;
    /* border-color: white; */
    /* border-width: 0.1em; */
    /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.171); */
    border-style: none;
    color: white;
    font-size: 160%;
    font-family: inherit;
}

button.update  {
    display: block;
    width: 80%;
    font-size: 180%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, #523971, #40337c);
    /* border: white solid 3px; */
    border: none;
    margin: 1em auto 2em auto;
    padding: 0.2em;
    color: white;
    border-radius: 10em;
}
.red {
    /* background-color: rgb(235, 47, 57); */
    background-image: linear-gradient(to right, #a71414, #e03753);
}
.purple {
    /* background-color: rgb(156, 68, 228); */
    
    background-image: linear-gradient(to right, #622d95, #956ec9);
}
.teal {
    /* background-color: rgb(14, 193, 124); */
    background-image: linear-gradient(to right, #3655ac, #17adac);
}
.green {
    /* background-color: rgb(175, 212, 8); */
    background-image: linear-gradient(to right, #25874a, #36ac65);
}
.magenta {
    /* background-color: rgb(212, 8, 124); */
    background-image: linear-gradient(to right, #8b1672, #ba3995);
}
.orange {
    background-image: linear-gradient(to right, #cb3604, #ad8a21);
}
.yellow {
    background-image: linear-gradient(to right, #838915, #d2dc1f);
}

.alarmunit {
    display:grid;
    /* position: absolute; */
    grid-template-columns: 3fr 4fr 8fr 1fr;
    gap: 14px;
    /* border: 1px black solid; */
    align-items: center;
    margin-bottom: 2em;
}
.channelinfo {
    margin-bottom: 0.8em;
}
.settingsunit {
    display: grid;
    gap:14px;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 0.5em;
}
input {
    border: none;
}
input:not([type]), input[type="text"] {
    display: block;
    width: 100%;
    font-size: 110%;
    text-align: center;
    background-image: linear-gradient(to right, #523971, #40337c);
    /* background-color: rgb(0, 0, 0); */
    color: #ffffff;
    border:black solid 2px;
}
input.modified {
    border: rgb(161 82 255) solid 2px;
}
input.saved {
    border: rgb(108 151 88) solid 2px;
}
input.error {
    border: rgb(156 14 102) solid 2px;
}

span {
    display: block;
    text-align: center;
}

.checkbox-wrapper-20 {
    --slider-height: 8px;
    --slider-width: calc(var(--slider-height) * 4);
    --switch-height: calc(var(--slider-height) * 3);
    --switch-width: var(--switch-height);
    --switch-shift: var(--slider-height);
    --transition: all 0.2s ease;

    --switch-on-color: #9d0ed5;
    --slider-on-color: #6b216c;

    --switch-off-color: #512b58;
    --slider-off-color: #4f4f4f;
    margin: -0.5em 0 0.1em 0;
}

.checkbox-wrapper-20 .switch {
    display: block;
}
    
.checkbox-wrapper-20 .switch .slider {
    position: relative;
    display: inline-block;
    height: var(--slider-height);
    width: var(--slider-width);
    border-radius: var(--slider-height);
    cursor: pointer;
    background: var(--slider-off-color);
    transition: var(--transition);
}
    
.checkbox-wrapper-20 .switch .slider:after {
    background: var(--switch-off-color);
    position: absolute;
    left: calc(-1 * var(--switch-shift));
    top: calc((var(--slider-height) - var(--switch-height)) / 2);
    display: block;
    width: var(--switch-height);
    height: var(--switch-width);
    border-radius: 50%;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, .2); */
    content: '';
    transition: var(--transition);
}
    
.checkbox-wrapper-20 .switch label {
    margin-right: 7px;
}
    
.checkbox-wrapper-20 .switch label.modified {
    background-color: #a1a1a1 !important;
}
.checkbox-wrapper-20 .switch label.saved {
    background-color: rgb(108 151 88) !important;
}
.checkbox-wrapper-20 .switch .input {
    display: none;
}
    
.checkbox-wrapper-20 .switch .input ~ .label {
    margin-left: var(--slider-height);
}
        
.checkbox-wrapper-20 .switch .input:checked ~ .slider:after {
    left: calc(var(--slider-width) - var(--switch-width) + var(--switch-shift));
}
    
.checkbox-wrapper-20 .switch .input:checked ~ .slider {
    background: var(--slider-on-color);
}

.checkbox-wrapper-20 .switch .input:checked ~ .slider:after {
    background: var(--switch-on-color);
}